[build.environment]
  NODE_OPTIONS = "--max-old-space-size=4096"

[build]
  command = "vite build"
  publish = "dist/client"

[functions]
  node_bundler = "esbuild"
  directory = "netlify/functions"
  included_files = ["node_modules/@takumi-rs/core-linux-x64-gnu/**/*.*"]