@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light, .light *));
@custom-variant auto (&:is(.auto, .auto *));
@custom-variant aria-current (&[aria-current="location"]);

@theme {
  /* Fonts */
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';

  /* Shadows */
  --shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 6px -2px rgba(0, 0, 0, 0.03);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.05),
    0 10px 10px -5px rgba(0, 0, 0, 0.02);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.2);
  --shadow-3xl: 0 35px 60px -15px rgba(0, 0, 0, 0.25);
  --shadow-inset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);

  /* Colors */
  --color-twine-50: #f8f5ee;
  --color-twine-100: #eee6d3;
  --color-twine-200: #dfcda9;
  --color-twine-300: #cdac77;
  --color-twine-400: #bd9051;
  --color-twine-500: #ae7d44;
  --color-twine-600: #956339;
  --color-twine-700: #784b30;
  --color-twine-800: #653f2e;
  --color-twine-900: #58362b;
  --color-twine-950: #321c16;

  --color-discord: #536bbd;
}

/* Safelist for dynamic colors */
@source inline('{bg-blue-{4,5,6}00,bg-emerald-500,bg-purple-500,bg-pink-500,bg-cyan-500,bg-slate-{4,5}00,bg-twine-700,bg-orange-{5,6,7}00,bg-yellow-500,bg-lime-700,bg-red-500,bg-green-500}/{20,30,40,80}');
@source inline('{hover:{bg-blue-{4,5,6}00,bg-emerald-500,bg-purple-500,bg-pink-500,bg-cyan-500,bg-slate-{4,5}00,bg-twine-700,bg-orange-{5,6,7}00,bg-yellow-500,bg-lime-700,bg-red-500,bg-green-500}/40}');

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

button {
  @apply cursor-pointer;
}

@layer base {
  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }

  * {
    scrollbar-color: var(--color-gray-400) var(--color-gray-100);
  }

  *::-webkit-scrollbar,
  * scrollbar {
    width: 1rem;
    height: 1rem;
  }

  *::-webkit-scrollbar-track,
  * scrollbar-track {
    background: var(--color-gray-100);
  }

  *::-webkit-scrollbar-thumb,
  * scrollbar-thumb {
    background: var(--color-gray-300);
    border-radius: 0.5rem;
    border: 3px solid var(--color-gray-100);
  }

  html.dark {
    &,
    * {
      color-scheme: dark;
    }

    &,
    * {
      scrollbar-color: var(--color-gray-700) var(--color-gray-800);
    }

    &::-webkit-scrollbar,
    *::-webkit-scrollbar,
    * scrollbar {
      width: 1rem;
      height: 1rem;
    }

    & *::-webkit-scrollbar-track,
    *::-webkit-scrollbar-track,
    * scrollbar-track {
      background: var(--color-gray-800);
    }

    &::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb,
    * scrollbar-thumb {
      background: var(--color-gray-600);
      border-radius: 0.5rem;
      border: 3px solid var(--color-gray-800);
    }
  }

  [disabled] {
    @apply opacity-50 pointer-events-none;
  }

  #docs-details summary::-webkit-details-marker {
    display: none;
  }

  #docs-details .icon-close {
    display: none;
  }

  #docs-details[open] .icon-close {
    display: block;
  }

  #docs-details[open] .icon-open {
    display: none;
  }

  #docs-details[open] > summary + * {
    height: auto;
    max-height: calc(100vh - 62px);
  }

  .anchor-heading {
    text-decoration: none !important;
    display: inline;
  }

  .anchor-heading > *:after {
    content: '#';
    @apply relative opacity-0 ml-2 transition duration-100;
  }

  .anchor-heading:hover > *:after {
    @apply opacity-50;
  }

  :has(+ .anchor-heading) {
    margin-bottom: 0 !important;
  }

  .anchor-heading + * {
    margin-top: 0 !important;
  }

  .carbon-small {
    pointer-events: none;
  }

  .carbon-small #carbonads {
    @apply pointer-events-none;
  }

  .carbon-small .carbon-outer {
    @apply pointer-events-none;
  }

  .carbon-small .carbon-wrap {
    @apply flex flex-col;
  }

  .carbon-small .carbon-wrap .carbon-img {
    @apply w-[50%] pt-2 pointer-events-auto! rounded-tr-lg border-t border-r border-gray-500 overflow-hidden;
  }

  .carbon-small .carbon-wrap .carbon-img img {
    @apply w-full max-w-full!;
  }

  .carbon-small .carbon-wrap .carbon-text {
    @apply bg-white dark:bg-gray-800 rounded-tr-lg pb-6! m-0! pointer-events-auto! border-t border-r border-gray-500;
  }

  .carbon-small .carbon-wrap .carbon-poweredby {
    @apply absolute bottom-0 right-0;
  }
}

/* https://github.com/shikijs/twoslash/tree/main/packages/remark-shiki-twoslash#plugin-setup */
pre {
  /* All code samples get a grey border, twoslash ones get a different color */
  @apply bg-white text-black p-2 border border-gray-500/30 mb-4 rounded-md;
  @apply overflow-x-auto relative leading-tight;
}
pre.shiki {
  overflow-x: auto;

  &.tokyo-night {
    @apply bg-gray-900 text-gray-400;
  }
}
pre.shiki:hover .dim {
  opacity: 1;
}
pre.shiki div.dim {
  opacity: 0.5;
}
pre.shiki div.dim,
pre.shiki div.highlight {
  margin: 0;
  padding: 0;
}
pre.shiki div.highlight {
  opacity: 1;
  background-color: #f1f8ff;
}
pre.shiki div.line {
  min-height: 1rem;
}

/** Don't show the language identifiers */
pre.shiki .language-id {
  display: none;
}

pre.has-diff span.remove {
  background-color: #ff000036;
}

pre.has-diff span.add {
  background-color: #00ff0036;
}
/* Visually differentiates twoslash code samples  */
pre.twoslash {
  border-color: #719af4;
}

/** When you mouse over the pre, show the underlines */
pre.twoslash:hover data-lsp {
  border-color: #747474;
}

/** The tooltip-like which provides the LSP response */
pre.twoslash data-lsp:hover::before {
  content: attr(lsp);
  position: absolute;
  transform: translate(0, 1rem);

  background-color: #3f3f3f;
  color: #fff;
  text-align: left;
  padding: 5px 8px;
  border-radius: 2px;
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, monospace, Courier New;
  font-size: 14px;
  white-space: pre-wrap;
  z-index: 100;
}

pre .code-container {
  overflow: auto;
}
/* The try button */
pre .code-container > a {
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: 4px;
  border: 1px solid #719af4;
  padding: 0 8px;
  color: #719af4;
  text-decoration: none;
  opacity: 0;
  transition-timing-function: ease;
  transition: opacity 0.3s;
}
/* Respect no animations */
@media (prefers-reduced-motion: reduce) {
  pre .code-container > a {
    transition: none;
  }
}
pre .code-container > a:hover {
  color: white;
  background-color: #719af4;
}
pre .code-container:hover a {
  opacity: 1;
}

pre code {
  font-size: 12px;
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, monospace, Courier New;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}
pre code a {
  text-decoration: none;
}
pre data-err {
  /* Extracted from VS Code */
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 3px;
}
pre .query {
  margin-bottom: 10px;
  color: #137998;
  display: inline-block;
}

/* In order to have the 'popped out' style design and to not break the layout
/* we need to place a fake and un-selectable copy of the error which _isn't_ broken out
/* behind the actual error message.

/* This sections keeps both of those two in in sync  */

pre .error,
pre .error-behind {
  margin-left: -14px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 6px;
  padding-left: 14px;
  width: calc(100% - 20px);
  white-space: pre-wrap;
  display: block;
}
pre .error {
  position: absolute;
  background-color: #fee;
  border-left: 2px solid #bf1818;
  /* Give the space to the error code */
  display: flex;
  align-items: center;
  color: black;
}
pre .error .code {
  display: none;
}
pre .error-behind {
  user-select: none;
  visibility: transparent;
  color: #fee;
}
/* Queries */
pre .arrow {
  /* Transparent background */
  background-color: #eee;
  position: relative;
  top: -7px;
  margin-left: 0.1rem;
  /* Edges */
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  transform: translateY(25%) rotate(45deg);
  /* Size */
  height: 8px;
  width: 8px;
}
pre .popover {
  margin-bottom: 10px;
  background-color: #eee;
  display: inline-block;
  padding: 0 0.5rem 0.3rem;
  margin-top: 10px;
  border-radius: 3px;
}
/* Completion */
pre .inline-completions ul.dropdown {
  display: inline-block;
  position: absolute;
  width: 240px;
  background-color: gainsboro;
  color: grey;
  padding-top: 4px;
  font-family: var(--code-font);
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  border-left: 4px solid #4b9edd;
}
pre .inline-completions ul.dropdown::before {
  background-color: #4b9edd;
  width: 2px;
  position: absolute;
  top: -1.2rem;
  left: -3px;
  content: ' ';
}
pre .inline-completions ul.dropdown li {
  overflow-x: hidden;
  padding-left: 4px;
  margin-bottom: 4px;
}
pre .inline-completions ul.dropdown li.deprecated {
  text-decoration: line-through;
}
pre .inline-completions ul.dropdown li span.result-found {
  color: #4b9edd;
}
pre .inline-completions ul.dropdown li span.result {
  width: 100px;
  color: black;
  display: inline-block;
}
.dark-theme .markdown pre {
  background-color: #d8d8d8;
  border-color: #ddd;
  filter: invert(98%) hue-rotate(180deg);
}
data-lsp {
  /* Ensures there's no 1px jump when the hover happens */
  border-bottom: 1px dotted transparent;
  /* Fades in unobtrusively */
  transition-timing-function: ease;
  transition: border-color 0.3s;
}
/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
  data-lsp {
    transition: none;
  }
}

/** Annotations support, providing a tool for meta commentary */
.tag-container {
  position: relative;
}
.tag-container .twoslash-annotation {
  position: absolute;
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, monospace, Courier New;
  right: -10px;
  /** Default annotation text to 200px */
  width: 200px;
  color: #187abf;
  background-color: #fcf3d9 bb;
}
.tag-container .twoslash-annotation p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 0.9rem;
}
.tag-container .twoslash-annotation svg {
  float: left;
  margin-left: -44px;
}
.tag-container .twoslash-annotation.left {
  right: auto;
  left: -200px;
}
.tag-container .twoslash-annotation.left svg {
  float: right;
  margin-right: -5px;
}

/** Support for showing console log/warn/errors inline */
pre .logger {
  display: flex;
  align-items: center;
  color: black;
  padding: 6px;
  padding-left: 8px;
  width: calc(100% - 19px);
  white-space: pre-wrap;
}
pre .logger svg {
  margin-right: 9px;
}
pre .logger.error-log {
  background-color: #fee;
  border-left: 2px solid #bf1818;
}
pre .logger.warn-log {
  background-color: #ffe;
  border-left: 2px solid #eae662;
}
pre .logger.log-log {
  background-color: #e9e9e9;
  border-left: 2px solid #ababab;
}
pre .logger.log-log svg {
  margin-left: 6px;
  margin-right: 9px;
}

html:not(.dark) .shiki.tokyo-night {
  display: none;
}

html.dark .shiki.github-light {
  display: none;
}

/* TanStack Router Devtools */

.TanStackRouterDevtools > button {
  @apply rotate-90 origin-top-right -translate-y-[50px] translate-x-2 rounded-t-none bg-white dark:bg-gray-900;
  @apply border-t-0 border-gray-500/10 shadow-xl text-gray-800;
}

/* Hubspot */

#hubspot-messages-iframe-container {
  @apply translate-x-[10px] translate-y-[10px];
  @apply dark:scheme-dark;
}

/* Markdown Alerts */
.markdown-alert {
  @apply border-l-4 pl-4 py-1.5 my-2 dark:bg-gray-900 rounded-r-sm;
}

.markdown-alert > * {
  @apply m-0;
}

.markdown-alert.markdown-alert-note {
  @apply border-blue-500/90;
}

.markdown-alert.markdown-alert-note svg {
  @apply fill-blue-500/90;
}

.markdown-alert.markdown-alert-warning {
  @apply border-yellow-500/90;
}

.markdown-alert.markdown-alert-warning svg {
  @apply fill-yellow-500/90;
}

.markdown-alert.markdown-alert-caution {
  @apply border-red-500/90;
}

.markdown-alert.markdown-alert-caution svg {
  @apply fill-red-500/90;
}

.markdown-alert.markdown-alert-tip {
  @apply border-green-500/90;
}

.markdown-alert.markdown-alert-tip svg {
  @apply fill-green-500/90;
}

.markdown-alert.markdown-alert-important {
  @apply border-purple-500/90;
}

.markdown-alert.markdown-alert-important svg {
  @apply fill-purple-500/90;
}

.markdown-alert .markdown-alert-title {
  @apply flex justify-start items-center font-medium mb-1.5;
}

.bg-clip-text {
  @apply print:text-gray-800;
}

mark {
  @apply bg-yellow-400 rounded-md px-px mx-px;
}

.dark g[aria-label='tip'] > g > path {
  @apply fill-gray-800/90 stroke-gray-500/20;
}

/* svg g[aria-label='crosshair text'] {
  stroke: none;
} */

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/inter-v19-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/inter-v19-latin-100italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/inter-v19-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/inter-v19-latin-200italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter-v19-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/inter-v19-latin-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/inter-v19-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-v19-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/inter-v19-latin-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter-v19-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/inter-v19-latin-600italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/inter-v19-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/inter-v19-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/inter-v19-latin-800italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/inter-v19-latin-900.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/inter-v19-latin-900italic.woff2') format('woff2');
}
