name: PR

on:
  pull_request:

jobs:
  pr:
    name: PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Setup Tools
        uses: tanstack/config/.github/setup@main
      - name: Run Lint
        run: pnpm lint
      - name: Run Build
        run: pnpm build
